@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
nav{
    background-color: rgb(231, 24, 89);
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    font-weight: 200;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: block;
    align-self: center;
    vertical-align: middle;
}

.nav-container h1{
    color: white;
    font-size: 1.5rem;
    line-height: 1.2;
}